autwit:
  database: h2

spring:
  datasource:
#    url: jdbc:h2:mem:autwit;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    url: jdbc:h2:tcp://localhost:9092/~/autwit;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  sql:
    init:
      mode: always
      schema-locations: classpath:schema-h2.sql
