# Ignore build folders in all modules
**/target/

# Logs
logs/
**/logs/
*.log

# Allure
allure-results/
allure-artifacts/
allure-report/
**/allure-results/
**/allure-artifacts/
**/allure-report/

# IntelliJ
.idea/
*.iml

# Ignore all markdown docs
*.mdclient-tests/src/test/resources/configs/config.properties
